<!-- header -->
<div class="header">
    <img src="./img/furniture-1.svg" alt="clock">
    <nav class="navbar">
      <ul>
        <li class="home"><a href="index.html">Home</a></li>
        <li class="contact"><a href="contact.html">Contact us</a></li>
        <li class="gallery"><a href="gallery.html">Gallery</a></li>
        <li class="login"><a href="login.html">Login</a></li>
        <li class="register"><a href="register.html">Register</a></li>
      </ul>
    </nav>
  </div>